body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.animation-container {
    animation: slideIn 2s linear 0s 1 forwards;
}
.netflixintrof {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  animation-name: zoom-in;
  animation-delay: .5s;
  animation-duration: 3.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  background-size: 4000px;
}
&[letter="N"] {
  transform-origin: 30% center;
  .helper-1 {
    width: 19.5%;
    height: 100%;
    left: 22.4%;
    top: 0;
    transform: rotate(188deg);
    animation-name: fading-lumieres-box;
  }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
