body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    overflow: hidden;
}

.animation-container {
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 5em;
    color: transparent;
    background-image: linear-gradient(45deg, #f06, #09f, #0c0, #f06);
    background-clip: text;
    -webkit-background-clip: text;
    animation: rainbowText 4s infinite linear, slideIn 2s ease-in-out forwards;
}

@keyframes rainbowText {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
